@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <a class="navbar-brand" asp-area="" asp-controller="Nutrition" asp-action="Index"><h1 class="display-4">Geo's Macros</h1></a>
</div>
